 /* ------------------------------------------------------------------------------
 *
 *  # Perfect Scrollbar
 *
 *  Styles for perfect_scrollbar.min.js - custom scrollbar extension
 *
 * ---------------------------------------------------------------------------- */
 .ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-touch-action: auto;
  touch-action: auto;
}

.ps__rail-y,
.ps__rail-x {
  opacity: 0;
  position: absolute;
  transition: opacity 0.15s linear;
}

@media screen and (prefers-reduced-motion: reduce) {

  .ps__rail-y,
  .ps__rail-x {
      transition: none;
  }
}

.ps__rail-x {
  bottom: 0;
}

.ps__rail-y {
  /*rtl:ignore*/
  right: 0;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.75;
}

.ps__thumb-y,
.ps__thumb-x {
  background-color: #0CAA41;
  position: absolute;
  pointer-events: none;
  border-radius: 100px;
}

.ps__thumb-y {
  width: 0.25rem;
  right: 0.125rem;
}

.ps__thumb-x {
  height: 0.25rem;
  bottom: 0.125rem;
}

@supports (-ms-overflow-style: none) {
  .ps {
      overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .ps {
      overflow: auto !important;
  }
}