@font-face {
    font-family: 'Reactive Anchor';
    src: url('ReactiveAnchor.eot');
    src: url('ReactiveAnchor.eot?#iefix') format('embedded-opentype'),
        url('ReactiveAnchor.woff2') format('woff2'),
        url('ReactiveAnchor.woff') format('woff'),
        url('ReactiveAnchor.ttf') format('truetype'),
        url('ReactiveAnchor.svg#ReactiveAnchor') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

